body{
    background-image: url('img/emilia-home.jpg');
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: 100% 0px;
    
   /*  background-position: right */

}
ul li{
list-style: none;
line-height: 30px;
}
.volver {
text-decoration: none;
color: grey;
font-family: 'Open Sans', sans-serif; 
display: inline-block;
background-color: grey;
}
.fab {
color: black;
line-height: 20px;
}
h1{
    font-family: 'Work Sans', sans-serif;
    margin-left: 35px;
    margin-top: 154px;
    font-weight: 100;
    letter-spacing: 5px;
}
h2{
    margin-top: 200px;
    margin-left: 22px;
    font-size: 65px;
    background-color: rgba(255,255,255,0.4);
    font-family: 'Raleway', sans-serif;

}
