*{
    box-sizing: border-box;
    margin: 0 auto;
}

body{
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.contenedor-principal{
    overflow: hidden;
    width: 900px;
    margin-bottom: 30px;
}
ul li a{
 text-decoration: none;
    color:black;
}
ul li{
    list-style: none;
    
}
.conten-a{
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    padding-top: 40px;
    line-height: 50px;
    padding-bottom: 30px;
}
.conten-b{
    float: left;
    width: 245px;
    padding-top: 15px;
    margin-top: 30px;
    line-height: 35px;
}

.conten-c{
    width: 635px;
    float: right;
    margin-top: 30px;
    padding-top: 15px;
    padding-left: 20px;
    border-left: 1px solid black;
   
}
.conten-c img{
    float: right;
    border: silver 1px solid;
    margin-left: 20px;
}
.conten-c h4{
    margin-top: 25px;
    margin-bottom: 5px;

}
.conten-c h3{
   margin: 30px 0; 
}
.conten-d {
    padding: 20px;
    background-color: silver;
  overflow: hidden;
}
.conten-d img{
    float: left;
    width:225px;
    margin-left: 50px;
}
.conten-d article{
    float: right;
    text-align: right;
    margin-right: 50px;
}
.conten-d .redes{
    margin-top: 30px;
}
.conten-d a{
    color: white;
    font-weight: 600;
}
div .volver{
    text-decoration: none;
    color: rgb(102, 97, 97);
    margin-top: 30px;
    

}

