*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}
body{

    background-image:url(../img/bg-2.png) ;
    font-family: Arial, Helvetica, sans-serif; 
     
}
/*HEADER*/
.contenedor-principal{
    width: 1140px;
    overflow: hidden;
}
header{
   
    background-color: #ef4c27;
    overflow: hidden;
    padding: 10px;
    margin-top: 5px;
}
header img{
   float: left; 
}
header nav{
    float: left;
}
header div{
    float: right;
}
ul{
    overflow: hidden;
}
ul li{
    float: left;
    list-style: none;
    margin-left: 27px;
    margin-top: 10px;
}
ul li a{
    color: white;
    text-decoration: none;
}
  /*SECCION ARTICULOS*/

#seccion-articulos{
    width: 800px;
    background-color: white;
    margin-top: 15px;
    overflow: hidden;
    float: left;
  

}
.producto{
   width: 380px;
   margin: 10px 10px 20px 10px;
   float: left;
}

.producto img{
    width: 100%;
}
.producto h2{
    margin: 10px 0;
}
.ver{
    text-decoration: none;
    background-color:#ef4c27;
    color: white;
    padding: 10px;
    margin-top: 20px;
    display: inline-block;
}
/* tutoriales */
aside{
    width: 320px;
    float: right;
}
 aside h2{
   background-color: white;
    border: 1px solid #61B4EB;
    padding: 7px;
    margin-top: 15px;
    margin-bottom: 12px;
}
 .tutorial{
    background-color: white;
    padding: 7px;
    border: 1px solid #61B4EB ;
}
.publicidad{
    background-color: white;
    text-align: center;
}
    /*registro*/
.contenedor-registro{
    width: 350px;
    font-family: Arial, Helvetica, sans-serif;
    color:  #2D3940 ;
    
}
.contenedor-registro h3{
    padding: 30px;
    text-align: center;
    font-weight: 600;
}
.contenedor-registro label{
  margin: 10px 0px 3px 0px;
  display: inline-block;
  font-weight: bold;
  font-size: 15px;
}
.datos-personales{
    width: 340px;
    height: 4vh;
    font-size: 15px;
    border: 1px solid rgb(221, 216, 216);
    font-size: 15px;
}
.contenedor-registro p{
    margin-top: 7px;
    color: #ef4c27;
    font-size: 15px;
    font-weight: 500;
}
.contenedor-registro h4{
    margin: 12px 0px 12px 0px;
}
.contenedor-registro button{
    width: 150px;
    height: 3vh;
    color: white;
   background-color:  #2283BC ;
   border-radius: 5px;
   border: none;
   margin: 20px 0px 20px 0px;


 }
  /******************Login**************/
  .contenedor-login{
    width: 350px;
    font-family: Arial, Helvetica, sans-serif;
    color:  #2D3940 ;
}
.contenedor-login h2{
    margin: 30px ;
    text-align: center;
   
}
.contenedor-login label{
    margin: 10px 0px 3px 0px;
    display: inline-block;
    font-weight: bold;
    font-size: 15px;
  }
  #recuerda{
    margin-left:  232px;
    border-radius: 10px;
  }
.contenedor-login button{
    width: 110px;
    height: 4vh;
    color: white;
   background-color:  #2283BC ;
   border-radius: 5px;
   border: none;
   margin-top: 30px ;
}
.ingreso{
  
    width: 340px;
    height: 4vh;
    font-size: 15px;
    border: 1px solid rgb(221, 216, 216);
    font-size: 15px;
    
}